body{
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: orangered;

}

.container{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.quiz{
    margin-bottom: 20px;
}

.btn{
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    background-color: #555;
}

.results{
    margin-top: 20px;
}